#vdk-project-image img {
    width: 100%;
    height: auto;
}

#vdk-project-title {
    font-size:24px;
    font-weight: 700;
    text-transform: uppercase;
}

#vdk-project-description {
    margin: 0px 0px 10px 0px;
}

#vdk-project-details {
    margin: 0px 0px -10px 0px;
}

#vdk-project-progress {
    width: 100%;
    border: 0px solid black;
    position: relative;
    padding: 0px;
    margin-bottom: 7px;
    background-color: #eaeaeb;
    height: 30px;
}

#vdk-project-percent {
    position: absolute;
    font-weight: bold;
    left: 5%;
    top: 20%;
}

#vdk-project-bar {
    height: 30px;
    background-color: #0b91c2;
}

/* vdk button */
#vdk-project-click {width:100%}
#vdk-project-button {
    background-color: #e54b2c;
    border: none;
    color: white !important;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:100%;
}


.container {
    position: relative;
    width: 100%;
    min-height: 100px;
}
.container:after {
    clear:both;
    }

.right {
    position: absolute;
    right: 0px;
    text-align: right;
    min-height: 20px;
}
.left {
    position: absolute;
    left: 0px;
    text-align: left;
    min-height: 20px;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}
