<div id="vdk-project-image">
    <img src="%image%" height="42" width="42">
</div>
<div id="vdk-project-title">%title%</div>
<div id="vdk-project-description">%description%</div>
<div id="vdk-project-details" class="container">

    <div id="vdk-project-precentage">
        <progress max="100" value="%percentage_donated%">
            <div class="progress-bar">
                <span class="vdk-progress-label" style="width: %percentage_donated%%">%percentage_donated%%</span>
            </div>
        </progress>
    </div>

    <div id="vdk-project-details-left" class="left">
        <div>&euro; %donated_amount%</div>
        <div>van &euro; %goal_amount%</div>
    </div>

    <div id="vdk-project-details-right" class="right">
        <div>%num_days_left%</div>
        <div>%num_donors% donateurs</div>
    </div>

</div>

<div id="vdk-project-click">
    <a href="%url%" id="vdk-project-button">DONEER</a>
</div>

</div>
