<div class="donation-box">
    <div id="project_image"><img src="%image%" alt="voor-de-kunst-project" /></div>
    <div id="project_title">%title%</div>
    <div id="project_description">%description%</div>
    <h2>donatiegegevens:</h2>
    <div id="project_details" class="container">
        <div id="project_precentage">

            <progress max="100" value="80" >
                <div class="progress-bar">
                    <span style="width: 80%">%percentage_donated% %</span>
                </div>
            </progress>

        </div>

        <div id="project_details_left" class="left">
            <div>&euro; %goal_amount%</div>
            <div>van &euro; %donated_amount%</div>
        </div>

        <div id="project_details_right" class="right">
            <div>%num_days_left%</div>
            <div>%num_donors% Donateurs</div>
        </div>

    </div>

    <div id="project_click">
        <a href="%url%" id="project_button">Doneer</a>
    </div>
</div>